.mainContainer {
  height: calc(100vh - 70px);
  max-width: 100vw;
  display: flex;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 45%;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 55%;
  padding: 20px;
  background-color: #87c0cd;
}
.searchBox {
  display: flex;
  height: 30%;
  width: 100%;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.inputBox {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filterContent {
  display: flex;
  height: 15%;
  width: 100%;
  gap: 10px;
  padding: 10px;
  border-bottom: #152232 solid 1px;

  align-items: center;
}

.projectContainer {
  display: block;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #152232;
  padding: 15px;
  overflow-y: scroll;
}

.projectCard {
  display: flex;
  height: 200px;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -8px 10px 0px #87c0cd;
  border: #152232 solid 3px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.input {
  height: 40px;
  width: 100%;
  border: 2px solid #152232;
  box-shadow: -8px 10px 0px #152232;
}

.projectContent {
  background-color: white;
  border: #152232 solid 3px;
  height: 100%;
  border-radius: 10px;
  padding: 30px;
  box-shadow: -8px 10px 0px #152232;
  display: flex;
  flex-direction: column;
}

.applyBtn {
  height: 30%;
  align-self: flex-end;
  flex-grow: 1;
  align-items: flex-end;
  display: flex;
}

.leftCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rigthCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.cardTitle {
  font-size: x-large;
  font-weight: bold;
}

.filter {
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: x-small;
  background-color: #152232;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.modal {
  margin-top: 25%;
  margin-left: 50%;
  background-color: #87c0cd;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
}

.modalTop {
  display: flex;
  background-color: #152232;
  height: 80%;
  width: 100%;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modalBot {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  gap: 10px;
}

.modalInputContainerLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}

.input {
  height: 40px;
  border: 2px solid #152232;
  box-shadow: -8px 10px 0px #87c0cd;
}

.inputBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 3px;
}

.labelTxt {
  margin: 0;
  font-weight: bold;
  font-size: medium;
  color: white;
  font-size: medium;
}

.modalInputContainerRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 3px;
}

.input {
  height: 40px;
  width: 100%;
  border: 2px solid #152232;
  box-shadow: -8px 10px 0px #87c0cd;
}

.dropMenuTxt {
  margin: 0;
  font-weight: 800;
  font-size: small;
  color: #152232;
}

.dropMenu:hover {
  cursor: pointer;
}

.dropMenu {
  width: 100%;
  height: 40px;
  font-weight: bold;
  font-size: small;
  color: #757575;
  border: 2px solid #152232;
  box-shadow: -8px 10px 0px #87c0cd;
  margin-top: 3px;
}

.cvBtn {
  align-self: flex-end;
}

.cvButtonContent {
  display: flex;

  align-items: center;
  gap: 10px;
}

.cvButton {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: solid transparent 2px;
  font-weight: bold;
  background-color: #152232;
  color: white;
  margin-top: 40px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.errorTxt {
  /* color: red; */
  font-size: xx-small;
  font-weight: bold;
  width: 150px;
}

.inputCV {
  display: none;
}
