.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 70px;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.logo {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.buttonSignUp {
  background-color: #152232;
  color: #ffffff;
  padding: 10px 0;
  width: 150px;
  border-radius: 10px;
  border: solid #152232 3px;
  font-weight: bold;
  font-size: medium;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonSignUp:hover {
  background-color: #87c0cd;
  cursor: pointer;
  color: #ffffff;
}

.component {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.signIn {
  padding-top: 0%;
  width: 40%;
  background-color: #152232;
}

.catchText {
  color: #ffffff;
  font-size: 60px;
  align-self: flex-start;
  font-weight: bold;
  margin: 20px 0px 0px 20px;
}

.a {
  margin-left: 5%;
  color: #87c0cd;
}

.error {
  color: red;
  padding-bottom: 2%;
}

.inputDiv {
  padding: 20% 6% 0 6%;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
}

.textInput {
  font-weight: 700;
  color: white;
}

.inputEmail,
.inputPassword {
  height: 40px;
  border: 2px solid #152232;
  box-shadow: -8px 10px 0px #87c0cd;
}

.b {
  color: #87c0cd;
}

.emailInput,
.passwordInput {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.emailInput {
  padding-bottom: 10%;
}

.textForgot {
  padding-top: 2%;
  font-size: small;
  color: white;
  font-weight: 700;
}

.bNoAccount {
  color: #87c0cd;
  cursor: pointer;
}

.bNoPassword {
  color: #87c0cd;
  background-color: red;
}

.textNoAccount {
  font-weight: bold;
  font-size: medium;
  color: white;
  margin-top: 20px;
  text-align: left;
}

.noAccount {
  font-weight: bold;
  font-size: x-large;
  color: white;
  padding-right: 30%;
}

.buttonCo {
  padding-bottom: 0%;
  width: 100%;
  text-align: right;
  /* margin-top: -15%; */
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.buttonSignIn {
  background-color: white;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: solid #152232 3px;
  font-weight: bold;
  font-size: medium;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 15%;
}

.buttonSignIn:hover {
  background-color: #87c0cd;
  cursor: pointer;
  color: #ffffff;
}

.graph {
  width: 60%;
  background: linear-gradient(0.4turn, #87c0cd 60%, white 50%);
}

.svg {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.img1 {
  padding-left: 10%;
  width: 50%;
  align-self: flex-start;
}

.img2 {
  padding-right: 10%;
  width: 50%;
  align-self: flex-end;
}

.lineContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  height: min-content;
  width: 60%;
  align-self: flex-end;
}

.line {
  height: 5px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.square {
  height: 20px;
  width: 20px;
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
}
